## 데이터 전처리

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 크롤링한 csv 파일 블러오기
vol = pd.read_csv("./dataset/volleyball_raw.csv")

In [3]:
# 컬럼 확인
vol.columns

Index(['경기번호', '팀명', '경기날짜', '결과', 'No.', '이름', '출전세트_1set', '출전세트_2set',
       '출전세트_3set', '출전세트_4set', '출전세트_5set', '득점_득점', '공격종합_시도', '공격종합_성공',
       '공격종합_공격차단', '공격종합_범실', '공격종합_성공률', '공격종합_점유율', '오픈_시도', '오픈_성공',
       '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율', '시간차_시도', '시간차_성공', '시간차_공격차단',
       '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도', '이동_성공', '이동_공격차단', '이동_범실',
       '이동_성공률', '이동_점유율', '후위_시도', '후위_성공', '후위_공격차단', '후위_범실', '후위_성공률',
       '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단', '속공_범실', '속공_성공률', '속공_점유율',
       '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실', '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도',
       '서브_성공', '서브_범실', '서브_성공률', '서브_점유율', '디그_시도', '디그_성공', '디그_실패',
       '디그_범실', '디그_세트당', '디그_점유율', '세트_시도', '세트_성공', '세트_범실', '세트_세트당',
       '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패', '리시브_세트당', '리시브_점유율', '블로킹_시도',
       '블로킹_성공', '블로킹_유효블락', '블로킹_실패', '블로킹_범실', '블로킹_세트당', '블로킹_점유율',
       '블로킹_어시스트', '벌칙_벌칙', '범실_범실'],
      dtype='object')

In [4]:
# 컬럼 갯수 확인
len(vol.columns)

85

In [5]:
# 전체 팀의 갯수 확인
vol['팀명'].value_counts()

GS칼텍스      1922
흥국생명       1829
한국도로공사     1809
IBK기업은행    1753
KGC인삼공사    1706
현대건설       1597
페퍼저축은행      381
Name: 팀명, dtype: int64

In [6]:
# 데이터 미리보기
vol.head(10)

,경기번호,팀명,경기날짜,결과,No.,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),O,O,O,O,...,20,3,5,6,1,0.60,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),O,O,O,O,...,10,0,7,3,0,0.00,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),O,O,O,O,...,14,4,6,3,0,0.80,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),O,O,O,O,...,12,2,2,7,0,0.40,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),O,O,O,O,...,28,1,13,9,0,0.20,29.79,2,0,3
5,1,IBK기업은행,2017-10-14,0,6,이고은 (S),3,3,O,O,...,3,0,1,0,1,0.00,3.19,1,0,2
6,1,IBK기업은행,2017-10-14,0,3,염혜선 (S),O,O,NaN,6,...,7,1,3,2,0,0.25,7.45,0,0,0
7,1,IBK기업은행,2017-10-14,0,10,김혜선 (Li),LI,LI,LI,LI,...,0,0,0,0,0,0.00,0.00,0,0,0
8,1,IBK기업은행,2017-10-14,0,12,채선아 (L),NaN,NaN,NaN,19,...,0,0,0,0,0,0.00,0.00,0,0,0
9,1,흥국생명,2017-10-14,1,9,심슨 (L),O,O,O,O,...,13,4,5,2,0,0.80,18.06,1,0,13

In [7]:
# 3경기 이상 출전한 선수만 유지 (출전 세트 결측치가 3개 이상인 선수 제거)
subset = ['출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set']

# thresh = 3 : 정상 값(Not NaN)이 3개 이상만 유지
vol = vol.dropna(subset = subset, thresh = 3)
vol

,경기번호,팀명,경기날짜,결과,No.,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),O,O,O,O,...,20,3,5,6,1,0.60,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),O,O,O,O,...,10,0,7,3,0,0.00,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),O,O,O,O,...,14,4,6,3,0,0.80,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),O,O,O,O,...,12,2,2,7,0,0.40,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),O,O,O,O,...,28,1,13,9,0,0.20,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,12,한송이 (C),O,O,O,NaN,...,14,2,5,5,0,0.67,31.11,2,0,0
10989,474,KGC인삼공사,2022-02-28,0,17,정호영 (C),O,O,O,NaN,...,2,0,0,2,0,0.00,4.44,3,0,0
10990,474,KGC인삼공사,2022-02-28,0,16,고의정 (L),12,11,11,NaN,...,0,0,0,0,0,0.00,0.00,0,0,1
10991,474,KGC인삼공사,2022-02-28,0,2,하효림 (S),14,O,O,NaN,...,4,0,2,1,0,0.00,8.89,2,0,0
10996,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),LI,LI,LI,NaN,...,0,0,0,0,0,0.00,0.00,0,0,0

## Feature Engineering

#### 1️⃣ 공격 성공률
- 한개의 경기당, 팀별 공격 성공률
- 오픈, 후위, 속공, 퀵오픈, 서브 컬럼 각각 만들기
- 마지막에 전체 공격 컬럼만 살린 데이터 1개, 각각 컬럼 살린 데이터 1개로 총 2개의 데이터로 도출(다중 공산성 고려)

In [8]:
vol.columns

Index(['경기번호', '팀명', '경기날짜', '결과', 'No.', '이름', '출전세트_1set', '출전세트_2set',
       '출전세트_3set', '출전세트_4set', '출전세트_5set', '득점_득점', '공격종합_시도', '공격종합_성공',
       '공격종합_공격차단', '공격종합_범실', '공격종합_성공률', '공격종합_점유율', '오픈_시도', '오픈_성공',
       '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율', '시간차_시도', '시간차_성공', '시간차_공격차단',
       '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도', '이동_성공', '이동_공격차단', '이동_범실',
       '이동_성공률', '이동_점유율', '후위_시도', '후위_성공', '후위_공격차단', '후위_범실', '후위_성공률',
       '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단', '속공_범실', '속공_성공률', '속공_점유율',
       '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실', '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도',
       '서브_성공', '서브_범실', '서브_성공률', '서브_점유율', '디그_시도', '디그_성공', '디그_실패',
       '디그_범실', '디그_세트당', '디그_점유율', '세트_시도', '세트_성공', '세트_범실', '세트_세트당',
       '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패', '리시브_세트당', '리시브_점유율', '블로킹_시도',
       '블로킹_성공', '블로킹_유효블락', '블로킹_실패', '블로킹_범실', '블로킹_세트당', '블로킹_점유율',
       '블로킹_어시스트', '벌칙_벌칙', '범실_범실'],
      dtype='object')

In [9]:
# 팀 전체 공격종합 성공률 평균
# sa = Successful attack
sa = vol.groupby(['팀명', '경기날짜'], as_index = False)[['공격종합_성공률']].mean().rename(columns = {'공격종합_성공률':'팀_공격종합성공률'})
sa

        팀명        경기날짜  팀_공격종합성공률
0    GS칼텍스  2017-10-17  27.587273
1    GS칼텍스  2017-10-24  22.742000
2    GS칼텍스  2017-10-28  33.677143
3    GS칼텍스  2017-10-31  34.622857
4    GS칼텍스  2017-11-04  23.645000
..     ...         ...        ...
943   흥국생명  2022-02-01  28.243333
944   흥국생명  2022-02-05  28.512500
945   흥국생명  2022-02-08  42.485000
946   흥국생명  2022-02-11  24.225556
947   흥국생명  2022-02-26  23.755714

[948 rows x 3 columns]

In [10]:
# 팀 전체 오픈 성공률
# so = Successful Open
so = vol.groupby(['팀명', '경기날짜'], as_index = False)[['오픈_성공률']].mean().rename(columns = {'오픈_성공률':'팀_오픈_성공률'})
print(so.shape)

# 팀 전체 후위 성공률
sb = vol.groupby(['팀명', '경기날짜'], as_index = False)[['후위_성공률']].mean().rename(columns = {'오픈_성공률':'팀_후위_성공률'})
print(sb.shape)

# 팀 전체 속공 성공률
sf = vol.groupby(['팀명', '경기날짜'], as_index = False)[['속공_성공률']].mean().rename(columns = {'속공_성공률':'팀_속공_성공률'})
print(sf.shape)

# 팀 전체 퀵오픈 성공률
sqo = vol.groupby(['팀명', '경기날짜'], as_index = False)[['퀵오픈_성공률']].mean().rename(columns = {'퀵오픈_성공률':'팀_퀵오픈_성공률'})
print(sqo.shape)

# 팀 전체 서브 성공률
ss = vol.groupby(['팀명', '경기날짜'], as_index = False)[['서브_성공률']].mean().rename(columns = {'서브_성공률':'팀_서브_성공률'})
print(ss.shape)

(948, 3)
(948, 3)
(948, 3)
(948, 3)
(948, 3)

#### 2️⃣ 블로킹 성공률
1. step 1) 블로킹 시도 합계 구하기
2. step 2) 블로킹 성공 합계 구하기
3. step 3) 성공을 시도로 나누어 성공률 구하기

In [11]:
# 팀 전체 블로킹 성공률 구하기
# step 1) 블로킹 시도 합계 구하기
blocking_attempt= vol.groupby(['팀명', '경기날짜'], as_index = False)[['블로킹_시도']].sum().rename(columns = {'블로킹_시도':'팀_블로킹_시도_합계'})
blocking_attempt

        팀명        경기날짜  팀_블로킹_시도_합계
0    GS칼텍스  2017-10-17           72
1    GS칼텍스  2017-10-24           59
2    GS칼텍스  2017-10-28           22
3    GS칼텍스  2017-10-31           34
4    GS칼텍스  2017-11-04           66
..     ...         ...          ...
943   흥국생명  2022-02-01           38
944   흥국생명  2022-02-05           51
945   흥국생명  2022-02-08           49
946   흥국생명  2022-02-11           80
947   흥국생명  2022-02-26           47

[948 rows x 3 columns]

In [12]:
# 팀 전체 블로킹 성공률 구하기
# step 2) 블로킹 성공 합계 구하기
blocking_success= vol.groupby(['팀명', '경기날짜'], as_index = False)[['블로킹_성공']].sum().rename(columns = {'블로킹_성공':'팀_블로킹_성공_합계'})
blocking_success

        팀명        경기날짜  팀_블로킹_성공_합계
0    GS칼텍스  2017-10-17            7
1    GS칼텍스  2017-10-24            5
2    GS칼텍스  2017-10-28            4
3    GS칼텍스  2017-10-31            2
4    GS칼텍스  2017-11-04           12
..     ...         ...          ...
943   흥국생명  2022-02-01            6
944   흥국생명  2022-02-05            3
945   흥국생명  2022-02-08            8
946   흥국생명  2022-02-11            5
947   흥국생명  2022-02-26            3

[948 rows x 3 columns]

In [13]:
# 팀 전체 블로킹 성공률 구하기
# step 3) 성공을 시도로 나누어 성공률 구하기
blocking = blocking_attempt.merge(blocking_success, on = ['팀명', '경기날짜'])
blocking  # check

# 성공률 = 성공 / 시도
blocking['팀_블로킹_성공률'] = blocking['팀_블로킹_성공_합계'] / blocking['팀_블로킹_시도_합계'] * 100
blocking  # check

# 성공, 시도 컬럼 drop
blocking = blocking.drop(['팀_블로킹_시도_합계', '팀_블로킹_성공_합계'], axis = 1)
blocking  # check

        팀명        경기날짜  팀_블로킹_성공률
0    GS칼텍스  2017-10-17   9.722222
1    GS칼텍스  2017-10-24   8.474576
2    GS칼텍스  2017-10-28  18.181818
3    GS칼텍스  2017-10-31   5.882353
4    GS칼텍스  2017-11-04  18.181818
..     ...         ...        ...
943   흥국생명  2022-02-01  15.789474
944   흥국생명  2022-02-05   5.882353
945   흥국생명  2022-02-08  16.326531
946   흥국생명  2022-02-11   6.250000
947   흥국생명  2022-02-26   6.382979

[948 rows x 3 columns]

#### 3️⃣ 디그 성공률, 디그 점유율
**[디그 성공률]**
1. step 1) 디그 시도 합계 구하기
2. step 2) 디그 성공 합계 구하기
3. step 3) 성공을 시도로 나누어 성공률 구하기

**[디그 점유율]**  
한개의 경기당 팀별로 평균 퍼센트

In [14]:
# 팀 전체 디그 성공률 구하기
# step 1) 디그 시도 합계 구하기
digg_attempt= vol.groupby(['팀명', '경기날짜'], as_index = False)[['디그_시도']].sum().rename(columns = {'디그_시도':'팀_디그_시도_합계'})
digg_attempt

        팀명        경기날짜  팀_디그_시도_합계
0    GS칼텍스  2017-10-17         112
1    GS칼텍스  2017-10-24          95
2    GS칼텍스  2017-10-28          53
3    GS칼텍스  2017-10-31          59
4    GS칼텍스  2017-11-04          98
..     ...         ...         ...
943   흥국생명  2022-02-01          41
944   흥국생명  2022-02-05         112
945   흥국생명  2022-02-08          82
946   흥국생명  2022-02-11         109
947   흥국생명  2022-02-26          64

[948 rows x 3 columns]

In [15]:
# 팀 전체 디그 성공률 구하기
# step 2) 디그 성공 합계 구하기
digg_success= vol.groupby(['팀명', '경기날짜'], as_index = False)[['디그_성공']].sum().rename(columns = {'디그_성공':'팀_디그_성공_합계'})
digg_success

        팀명        경기날짜  팀_디그_성공_합계
0    GS칼텍스  2017-10-17          94
1    GS칼텍스  2017-10-24          75
2    GS칼텍스  2017-10-28          43
3    GS칼텍스  2017-10-31          52
4    GS칼텍스  2017-11-04          80
..     ...         ...         ...
943   흥국생명  2022-02-01          31
944   흥국생명  2022-02-05          94
945   흥국생명  2022-02-08          66
946   흥국생명  2022-02-11          94
947   흥국생명  2022-02-26          51

[948 rows x 3 columns]

In [16]:
# 팀 전체 디그 성공률 구하기
# step 3) 성공을 시도로 나누어 성공률 구하기
digg = digg_attempt.merge(digg_success, on = ['팀명', '경기날짜'])
digg  # check

# 성공률 = 성공 / 시도
digg['팀_디그_성공률'] = digg['팀_디그_성공_합계'] / digg['팀_디그_시도_합계'] * 100
digg  # check

# 성공, 시도 컬럼 drop
digg = digg.drop(['팀_디그_시도_합계', '팀_디그_성공_합계'], axis = 1)
digg  # check

        팀명        경기날짜   팀_디그_성공률
0    GS칼텍스  2017-10-17  83.928571
1    GS칼텍스  2017-10-24  78.947368
2    GS칼텍스  2017-10-28  81.132075
3    GS칼텍스  2017-10-31  88.135593
4    GS칼텍스  2017-11-04  81.632653
..     ...         ...        ...
943   흥국생명  2022-02-01  75.609756
944   흥국생명  2022-02-05  83.928571
945   흥국생명  2022-02-08  80.487805
946   흥국생명  2022-02-11  86.238532
947   흥국생명  2022-02-26  79.687500

[948 rows x 3 columns]

In [17]:
# 디그 점유율 평균
digg_share = vol.groupby(['팀명', '경기날짜'], as_index = False)[['디그_점유율']].mean().rename(columns = {'디그_점유율':'팀_디그_점유율'})
# print(digg_share.shape)
digg_share

        팀명        경기날짜   팀_디그_점유율
0    GS칼텍스  2017-10-17   9.010000
1    GS칼텍스  2017-10-24  10.000000
2    GS칼텍스  2017-10-28  12.017143
3    GS칼텍스  2017-10-31  13.592857
4    GS칼텍스  2017-11-04   9.898000
..     ...         ...        ...
943   흥국생명  2022-02-01  13.140000
944   흥국생명  2022-02-05  11.200000
945   흥국생명  2022-02-08  12.201250
946   흥국생명  2022-02-11  11.011111
947   흥국생명  2022-02-26  12.698571

[948 rows x 3 columns]

#### 4️⃣ 리시브 성공률, 점유율
**[리시브 성공률]**
1. step 1) 리시브 시도 합계 구하기
2. step 2) 리시브 성공 합계 구하기
3. step 3) 성공을 시도로 나누어 성공률 구하기

**[리시브 점유율]**  
한개의 경기당 팀별로 평균 퍼센트

In [18]:
# 팀 전체 리시브 성공률 구하기
# step 1) 리시브 시도 합계 구하기
receive_attempt= vol.groupby(['팀명', '경기날짜'], as_index = False)[['리시브_시도']].sum().rename(columns = {'리시브_시도':'팀_리시브_시도_합계'})
receive_attempt

        팀명        경기날짜  팀_리시브_시도_합계
0    GS칼텍스  2017-10-17           97
1    GS칼텍스  2017-10-24           95
2    GS칼텍스  2017-10-28           39
3    GS칼텍스  2017-10-31           59
4    GS칼텍스  2017-11-04           92
..     ...         ...          ...
943   흥국생명  2022-02-01           56
944   흥국생명  2022-02-05           77
945   흥국생명  2022-02-08           56
946   흥국생명  2022-02-11           81
947   흥국생명  2022-02-26           61

[948 rows x 3 columns]

In [19]:
# 팀 전체 리시브 성공률 구하기
# step 2) 리시브 성공 합계 구하기
receive_success= vol.groupby(['팀명', '경기날짜'], as_index = False)[['리시브_정확']].sum().rename(columns = {'리시브_정확':'팀_리시브_정확_합계'})
receive_success

        팀명        경기날짜  팀_리시브_정확_합계
0    GS칼텍스  2017-10-17           43
1    GS칼텍스  2017-10-24           40
2    GS칼텍스  2017-10-28           26
3    GS칼텍스  2017-10-31           23
4    GS칼텍스  2017-11-04           43
..     ...         ...          ...
943   흥국생명  2022-02-01           15
944   흥국생명  2022-02-05           19
945   흥국생명  2022-02-08           22
946   흥국생명  2022-02-11           31
947   흥국생명  2022-02-26           15

[948 rows x 3 columns]

In [20]:
# 팀 전체 리시브 성공률 구하기
# step 3) 성공을 시도로 나누어 성공률 구하기
receive = receive_attempt.merge(receive_success, on = ['팀명', '경기날짜'])
receive  # check

# 성공률 = 성공 / 시도
receive['팀_리시브_성공률'] = receive['팀_리시브_정확_합계'] / receive['팀_리시브_시도_합계'] * 100
receive  # check

# 성공, 시도 컬럼 drop
receive = receive.drop(['팀_리시브_시도_합계', '팀_리시브_정확_합계'], axis = 1)
receive  # check

        팀명        경기날짜  팀_리시브_성공률
0    GS칼텍스  2017-10-17  44.329897
1    GS칼텍스  2017-10-24  42.105263
2    GS칼텍스  2017-10-28  66.666667
3    GS칼텍스  2017-10-31  38.983051
4    GS칼텍스  2017-11-04  46.739130
..     ...         ...        ...
943   흥국생명  2022-02-01  26.785714
944   흥국생명  2022-02-05  24.675325
945   흥국생명  2022-02-08  39.285714
946   흥국생명  2022-02-11  38.271605
947   흥국생명  2022-02-26  24.590164

[948 rows x 3 columns]

In [21]:
# 리시브 점유율 평균
receive_share = vol.groupby(['팀명', '경기날짜'], as_index = False)[['리시브_점유율']].mean().rename(columns = {'리시브_점유율':'팀_리시브_점유율'})
# print(receive_share.shape)
receive_share

        팀명        경기날짜  팀_리시브_점유율
0    GS칼텍스  2017-10-17   9.090000
1    GS칼텍스  2017-10-24   9.694000
2    GS칼텍스  2017-10-28   7.960000
3    GS칼텍스  2017-10-31  12.580000
4    GS칼텍스  2017-11-04   9.999000
..     ...         ...        ...
943   흥국생명  2022-02-01  14.143333
944   흥국생명  2022-02-05  10.695000
945   흥국생명  2022-02-08  11.862500
946   흥국생명  2022-02-11  10.975556
947   흥국생명  2022-02-26  13.407143

[948 rows x 3 columns]

#### 1️⃣ ~ 4️⃣ 컬럼 원본에 merge하기

In [22]:
vol.shape

(8116, 85)

In [23]:
# df1 은 만든 1~3컬럼으로 저장, df2는 4~7컬럼으로 저장
# 4~7에 해당하는 여러 데이터 프레임 한번에 merge하기
from functools import reduce
import pandas as pd

dfs = [sa, so, sb, sf, sqo, ss, blocking, digg, digg_share, receive, receive_share]
print(len(dfs))
# Pre-processing
df_pp = reduce(lambda left, right: pd.merge(left, right, on = ['팀명', '경기날짜'], how = 'inner'), dfs)

11

In [24]:
df_pp.shape

(948, 13)

In [25]:
df_pp

,팀명,경기날짜,팀_공격종합성공률,팀_오픈_성공률,후위_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,GS칼텍스,2017-10-17,27.587273,22.803636,12.500000,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,44.329897,9.090000
1,GS칼텍스,2017-10-24,22.742000,18.962000,13.888000,8.333000,17.158000,0.258000,8.474576,78.947368,10.000000,42.105263,9.694000
2,GS칼텍스,2017-10-28,33.677143,24.042857,8.035714,12.142857,8.842857,0.094286,18.181818,81.132075,12.017143,66.666667,7.960000
3,GS칼텍스,2017-10-31,34.622857,27.450000,8.162857,5.714286,22.420000,0.188571,5.882353,88.135593,13.592857,38.983051,12.580000
4,GS칼텍스,2017-11-04,23.645000,28.722000,11.048000,5.833000,17.850000,0.050000,18.181818,81.632653,9.898000,46.739130,9.999000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,흥국생명,2022-02-01,28.243333,21.628333,5.555000,13.888333,20.751667,0.055000,15.789474,75.609756,13.140000,26.785714,14.143333
944,흥국생명,2022-02-05,28.512500,24.985000,5.555000,15.000000,14.823750,0.125000,5.882353,83.928571,11.200000,24.675325,10.695000
945,흥국생명,2022-02-08,42.485000,33.202500,4.463750,16.666250,24.166250,0.250000,16.326531,80.487805,12.201250,39.285714,11.862500
946,흥국생명,2022-02-11,24.225556,16.877778,1.852222,11.111111,18.003333,0.083333,6.250000,86.238532,11.011111,38.271605,10.975556
947,흥국생명,2022-02-26,23.755714,20.237143,4.761429,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143

In [26]:
df2 = vol.merge(df_pp, on = ['팀명', '경기날짜'])
df2

,경기번호,팀명,경기날짜,결과,No.,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,...,팀_오픈_성공률,후위_성공률_y,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),O,O,O,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),O,O,O,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),O,O,O,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),O,O,O,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),O,O,O,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,0,12,한송이 (C),O,O,O,NaN,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8112,474,KGC인삼공사,2022-02-28,0,17,정호영 (C),O,O,O,NaN,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8113,474,KGC인삼공사,2022-02-28,0,16,고의정 (L),12,11,11,NaN,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8114,474,KGC인삼공사,2022-02-28,0,2,하효림 (S),14,O,O,NaN,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8115,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),LI,LI,LI,NaN,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750

In [27]:
'''
컬럼 기존 85개 -> 만든 컬럼 11개 더해서 -> 총 96개 확인
'''
df2.shape

(8116, 96)

---

### 한결 작업 내용 합치기

#### 5️⃣ 범실 | 6️⃣ 득점 | 7️⃣ MVP

In [28]:
# 전처리가 필요한 컬럼만 가져오기
cols = ['경기번호', '팀명', '경기날짜', '결과', 'No.', '이름', '범실_범실', '득점_득점']
temp = vol.loc[:,cols]
temp

       경기번호       팀명        경기날짜  결과  No.        이름  범실_범실  득점_득점
0         1  IBK기업은행  2017-10-14   0   19    메디 (L)      7     24
1         1  IBK기업은행  2017-10-14   0    7   고예림 (L)      6     15
2         1  IBK기업은행  2017-10-14   0    4   김희진 (R)      6     15
3         1  IBK기업은행  2017-10-14   0   17   김미연 (L)      1      7
4         1  IBK기업은행  2017-10-14   0   11   김수지 (C)      3      6
...     ...      ...         ...  ..  ...       ...    ...    ...
10988   474  KGC인삼공사  2022-02-28   0   12   한송이 (C)      0      4
10989   474  KGC인삼공사  2022-02-28   0   17   정호영 (C)      0      3
10990   474  KGC인삼공사  2022-02-28   0   16   고의정 (L)      1      1
10991   474  KGC인삼공사  2022-02-28   0    2   하효림 (S)      0      1
10996   474  KGC인삼공사  2022-02-28   0   10  채선아 (Li)      0      0

[8116 rows x 8 columns]

In [29]:
# 경기 별 팀의 총 득점 컬럼 생성
total_s = temp.groupby(['경기날짜','팀명'], as_index = False)[['득점_득점']].sum().rename(columns = {'득점_득점':'팀_득점'})
temp = pd.merge(temp, total_s, on=['팀명', '경기날짜'])
temp['득점점유율'] = temp['득점_득점'] / temp['팀_득점']

In [30]:
temp['경기날짜'].unique()

array(['2017-10-14', '2017-10-15', '2017-10-17', '2017-10-18',
       '2017-10-21', '2017-10-22', '2017-10-24', '2017-10-25',
       '2017-10-28', '2017-10-29', '2017-10-31', '2017-11-01',
       '2017-11-04', '2017-11-05', '2017-11-07', '2017-11-08',
       '2017-11-09', '2017-11-11', '2017-11-12', '2017-11-14',
       '2017-11-15', '2017-11-16', '2017-11-18', '2017-11-19',
       '2017-11-21', '2017-11-22', '2017-11-25', '2017-11-26',
       '2017-11-28', '2017-11-29', '2017-12-02', '2017-12-03',
       '2017-12-05', '2017-12-06', '2017-12-09', '2017-12-10',
       '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-16',
       '2017-12-17', '2017-12-20', '2017-12-23', '2017-12-24',
       '2017-12-25', '2017-12-27', '2017-12-30', '2017-12-31',
       '2018-01-01', '2018-01-03', '2018-01-06', '2018-01-07',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-13',
       '2018-01-14', '2018-01-16', '2018-01-17', '2018-01-18',
       '2018-01-25', '2018-01-27', '2018-01-28', '2018-01-30',
       '2018-01-31', '2018-02-03', '2018-02-04', '2018-02-06',
       '2018-02-07', '2018-02-08', '2018-02-10', '2018-02-11',
       '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-17',
       '2018-02-18', '2018-02-20', '2018-02-21', '2018-02-22',
       '2018-02-24', '2018-02-25', '2018-02-28', '2018-03-01',
       '2018-03-03', '2018-03-04', '2018-03-06', '2018-03-10',
       '2018-03-11', '2018-03-13', '2018-03-17', '2018-03-19',
       '2018-03-21', '2018-03-23', '2018-03-25', '2018-03-27',
       '2018-10-22', '2018-10-23', '2018-10-24', '2018-10-25',
       '2018-10-26', '2018-10-27', '2018-10-28', '2018-10-29',
       '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-03',
       '2018-11-04', '2018-11-05', '2018-11-07', '2018-11-10',
       '2018-11-11', '2018-11-14', '2018-11-17', '2018-11-18',
       '2018-11-21', '2018-11-24', '2018-11-25', '2018-11-28',
       '2018-11-29', '2018-12-01', '2018-12-02', '2018-12-05',
       '2018-12-08', '2018-12-09', '2018-12-12', '2018-12-15',
       '2018-12-16', '2018-12-19', '2018-12-22', '2018-12-23',
       '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-29',
       '2018-12-30', '2019-01-01', '2019-01-02', '2019-01-05',
       '2019-01-06', '2019-01-09', '2019-01-12', '2019-01-13',
       '2019-01-16', '2019-01-24', '2019-01-26', '2019-01-27',
       '2019-01-30', '2019-02-02', '2019-02-03', '2019-02-04',
       '2019-02-05', '2019-02-06', '2019-02-09', '2019-02-10',
       '2019-02-13', '2019-02-14', '2019-02-16', '2019-02-17',
       '2019-02-20', '2019-02-23', '2019-02-24', '2019-02-27',
       '2019-03-01', '2019-03-02', '2019-03-03', '2019-03-06',
       '2019-03-09', '2019-03-10', '2019-03-15', '2019-03-17',
       '2019-03-19', '2019-03-21', '2019-03-23', '2019-03-25',
       '2019-03-27', '2019-10-19', '2019-10-20', '2019-10-22',
       '2019-10-23', '2019-10-24', '2019-10-26', '2019-10-27',
       '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-02',
       '2019-11-03', '2019-11-05', '2019-11-06', '2019-11-07',
       '2019-11-09', '2019-11-10', '2019-11-12', '2019-11-13',
       '2019-11-14', '2019-11-16', '2019-11-17', '2019-11-19',
       '2019-11-20', '2019-11-21', '2019-11-23', '2019-11-24',
       '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-30',
       '2019-12-01', '2019-12-03', '2019-12-04', '2019-12-05',
       '2019-12-07', '2019-12-08', '2019-12-10', '2019-12-11',
       '2019-12-12', '2019-12-14', '2019-12-15', '2019-12-17',
       '2019-12-18', '2019-12-19', '2020-01-14', '2020-01-15',
       '2020-01-16', '2020-01-18', '2020-01-19', '2020-01-21',
       '2020-01-22', '2020-01-23', '2020-01-25', '2020-01-26',
       '2020-01-27', '2020-01-29', '2020-01-30', '2020-02-01',
       '2020-02-02', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-08', '2020-02-09', '2020-02-11', '2020-02-12',
       '2020-02-13', '2020-02-15', '2020-02-16', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-22', '2020-02-23',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-29',
       '2020-03-01', '2020-10-17', '2020-10-18', '2020-10-21',
       '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-28',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-03',
       '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-10',
       '2020-11-11', '2020-11-13', '2020-11-14', '2020-11-15',
       '2020-11-17', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-24', '2020-11-27', '2020-11-28', '2020-11-29',
       '2020-12-01', '2020-12-02', '2020-12-04', '2020-12-05',
       '2020-12-06', '2020-12-08', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-16', '2020-12-18', '2020-12-19',
       '2020-12-20', '2020-12-23', '2020-12-25', '2020-12-26',
       '2020-12-27', '2020-12-29', '2020-12-30', '2021-01-01',
       '2021-01-05', '2021-01-08', '2021-01-09', '2021-01-10',
       '2021-01-12', '2021-01-13', '2021-01-15', '2021-01-16',
       '2021-01-17', '2021-01-20', '2021-01-22', '2021-01-23',
       '2021-01-26', '2021-01-27', '2021-01-29', '2021-01-30',
       '2021-01-31', '2021-02-03', '2021-02-05', '2021-02-06',
       '2021-02-07', '2021-02-09', '2021-02-11', '2021-02-13',
       '2021-02-14', '2021-02-16', '2021-02-17', '2021-02-19',
       '2021-02-20', '2021-02-21', '2021-02-24', '2021-02-26',
       '2021-02-27', '2021-02-28', '2021-03-03', '2021-03-05',
       '2021-03-06', '2021-03-07', '2021-03-09', '2021-03-12',
       '2021-03-13', '2021-03-14', '2021-03-16', '2021-03-20',
       '2021-03-22', '2021-03-24', '2021-03-26', '2021-03-28',
       '2021-03-30', '2021-10-16', '2021-10-17', '2021-10-19',
       '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23',
       '2021-10-24', '2021-10-26', '2021-10-27', '2021-10-28',
       '2021-10-29', '2021-10-30', '2021-10-31', '2021-11-02',
       '2021-11-03', '2021-11-04', '2021-11-05', '2021-11-06',
       '2021-11-07', '2021-11-09', '2021-11-10', '2021-11-11',
       '2021-11-12', '2021-11-13', '2021-11-14', '2021-11-16',
       '2021-11-17', '2021-11-18', '2021-11-19', '2021-11-20',
       '2021-11-21', '2021-11-23', '2021-11-24', '2021-11-25',
       '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-30',
       '2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
       '2021-12-05', '2021-12-07', '2021-12-08', '2021-12-09',
       '2021-12-10', '2021-12-11', '2021-12-12', '2021-12-14',
       '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-18',
       '2021-12-19', '2021-12-21', '2021-12-22', '2021-12-23',
       '2021-12-24', '2021-12-25', '2021-12-26', '2021-12-28',
       '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-01',
       '2022-01-02', '2022-01-04', '2022-01-05', '2022-01-06',
       '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-11',
       '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
       '2022-01-16', '2022-01-18', '2022-01-19', '2022-01-20',
       '2022-01-21', '2022-01-28', '2022-01-29', '2022-01-30',
       '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03',
       '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-08',
       '2022-02-10', '2022-02-11', '2022-02-21', '2022-02-22',
       '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
       '2022-02-27', '2022-02-28'], dtype=object)

In [31]:
# 시즌 별 MVP 선정을 위해 시즌에 대한 컬럼 추기
temp['season'] = np.where(temp['경기날짜'] <= '2018-03-27', 1,
                                np.where(temp['경기날짜'] <= '2019-03-27', 2,
                                        np.where(temp['경기날짜'] <= '2020-03-01', 3,
                                                np.where(temp['경기날짜'] <= '2021-03-30', 4,5))))
temp

,경기번호,팀명,경기날짜,결과,No.,이름,범실_범실,득점_득점,팀_득점,득점점유율,season
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),7,24,69,0.347826,1
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),6,15,69,0.217391,1
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),6,15,69,0.217391,1
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),1,7,69,0.101449,1
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),3,6,69,0.086957,1
...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,0,12,한송이 (C),0,4,45,0.088889,5
8112,474,KGC인삼공사,2022-02-28,0,17,정호영 (C),0,3,45,0.066667,5
8113,474,KGC인삼공사,2022-02-28,0,16,고의정 (L),1,1,45,0.022222,5
8114,474,KGC인삼공사,2022-02-28,0,2,하효림 (S),0,1,45,0.022222,5
8115,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),0,0,45,0.000000,5

In [32]:
temp.head(10)

,경기번호,팀명,경기날짜,결과,No.,이름,범실_범실,득점_득점,팀_득점,득점점유율,season
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),7,24,69,0.347826,1
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),6,15,69,0.217391,1
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),6,15,69,0.217391,1
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),1,7,69,0.101449,1
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),3,6,69,0.086957,1
5,1,IBK기업은행,2017-10-14,0,6,이고은 (S),2,1,69,0.014493,1
6,1,IBK기업은행,2017-10-14,0,3,염혜선 (S),0,1,69,0.014493,1
7,1,IBK기업은행,2017-10-14,0,10,김혜선 (Li),0,0,69,0.000000,1
8,1,흥국생명,2017-10-14,1,9,심슨 (L),13,48,82,0.585366,1
9,1,흥국생명,2017-10-14,1,17,이재영 (L),3,13,82,0.158537,1

In [33]:
# 각 시즌별, 팀 별 선수들의 평균 득점점유율을 통해 MVP 선수 선정
## MVP 선수는 1, 아니면 0
mvp_s = temp.groupby(['season', '팀명'], as_index = False)[['이름', '득점점유율']].max()
mvp_s['MVP'] = 1
mvp_s

    season       팀명        이름     득점점유율  MVP
0        1    GS칼텍스   한수진 (L)  0.600000    1
1        1  IBK기업은행  최수빈 (Li)  0.600000    1
2        1  KGC인삼공사   한수지 (C)  0.607595    1
3        1   한국도로공사   하효림 (S)  0.512821    1
4        1     현대건설   황연주 (R)  0.428571    1
5        1     흥국생명   한지현 (L)  0.612903    1
6        2    GS칼텍스   한수진 (S)  0.480769    1
7        2  IBK기업은행  한지현 (Li)  0.526316    1
8        2  KGC인삼공사   한수지 (C)  0.580000    1
9        2   한국도로공사   하혜진 (L)  0.508197    1
10       2     현대건설   황연주 (R)  0.571429    1
11       2     흥국생명   톰시아 (R)  0.466667    1
12       3    GS칼텍스   한수진 (L)  0.514286    1
13       3  IBK기업은행  한지현 (Li)  0.578947    1
14       3  KGC인삼공사   한송이 (C)  0.583333    1
15       3   한국도로공사   하혜진 (R)  0.538462    1
16       3     현대건설   황연주 (R)  0.400000    1
17       3     흥국생명   조송화 (S)  0.541667    1
18       4    GS칼텍스  한수진 (Li)  0.560606    1
19       4  IBK기업은행  한지현 (Li)  0.615385    1
20       4  KGC인삼공사   한송이 (C)  0.641509    1
21       4   한국도로공사   한송희 (L)  0.590361    1
22       4     현대건설   황연주 (R)  0.479452    1
23       4     흥국생명   이한비 (L)  0.700000    1
24       5    GS칼텍스  한수진 (Li)  0.583333    1
25       5  IBK기업은행   표승주 (L)  0.625000    1
26       5  KGC인삼공사   한송이 (C)  0.575758    1
27       5   페퍼저축은행   하혜진 (R)  0.593750    1
28       5   한국도로공사   하유정 (C)  0.491803    1
29       5     현대건설   황연주 (R)  0.565789    1
30       5     흥국생명    캣벨 (R)  0.727273    1

In [34]:
# 득점 점유율로 팀별 경기별 MVP 선수 컬럼 생성
## MVP 선수는 1, 아니면 0
df1_temp = pd.merge(temp, mvp_s.drop('득점점유율',1), how = 'left' , on=['팀명', '이름', 'season'])
df1_temp.fillna(0, inplace = True)
df1_temp['MVP'] = df1_temp['MVP'].astype('int')
df1_temp

/var/folders/1t/rxp10v3j0nnd0d43_pk_942h0000gn/T/ipykernel_9374/4194107770.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1_temp = pd.merge(temp, mvp_s.drop('득점점유율',1), how = 'left' , on=['팀명', '이름', 'season'])

,경기번호,팀명,경기날짜,결과,No.,이름,범실_범실,득점_득점,팀_득점,득점점유율,season,MVP
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),7,24,69,0.347826,1,0
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),6,15,69,0.217391,1,0
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),6,15,69,0.217391,1,0
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),1,7,69,0.101449,1,0
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),3,6,69,0.086957,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,0,12,한송이 (C),0,4,45,0.088889,5,1
8112,474,KGC인삼공사,2022-02-28,0,17,정호영 (C),0,3,45,0.066667,5,0
8113,474,KGC인삼공사,2022-02-28,0,16,고의정 (L),1,1,45,0.022222,5,0
8114,474,KGC인삼공사,2022-02-28,0,2,하효림 (S),0,1,45,0.022222,5,0
8115,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),0,0,45,0.000000,5,0

In [35]:
df1_temp['MVP'].value_counts()

0    7637
1     479
Name: MVP, dtype: int64

In [36]:
# 경기 별 팀의 총 범실 컬럼 생성
total_f = df1_temp.groupby(['경기날짜','팀명'], as_index = False)[['범실_범실']].sum().rename(columns = {'범실_범실':'팀_범실'})
df1_temp = pd.merge(df1_temp, total_f, on=['팀명', '경기날짜'])
df1_temp

,경기번호,팀명,경기날짜,결과,No.,이름,범실_범실,득점_득점,팀_득점,득점점유율,season,MVP,팀_범실
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),7,24,69,0.347826,1,0,25
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),6,15,69,0.217391,1,0,25
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),6,15,69,0.217391,1,0,25
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),1,7,69,0.101449,1,0,25
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),3,6,69,0.086957,1,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,0,12,한송이 (C),0,4,45,0.088889,5,1,9
8112,474,KGC인삼공사,2022-02-28,0,17,정호영 (C),0,3,45,0.066667,5,0,9
8113,474,KGC인삼공사,2022-02-28,0,16,고의정 (L),1,1,45,0.022222,5,0,9
8114,474,KGC인삼공사,2022-02-28,0,2,하효림 (S),0,1,45,0.022222,5,0,9
8115,474,KGC인삼공사,2022-02-28,0,10,채선아 (Li),0,0,45,0.000000,5,0,9

In [37]:
df1_temp.head(10)

,경기번호,팀명,경기날짜,결과,No.,이름,범실_범실,득점_득점,팀_득점,득점점유율,season,MVP,팀_범실
0,1,IBK기업은행,2017-10-14,0,19,메디 (L),7,24,69,0.347826,1,0,25
1,1,IBK기업은행,2017-10-14,0,7,고예림 (L),6,15,69,0.217391,1,0,25
2,1,IBK기업은행,2017-10-14,0,4,김희진 (R),6,15,69,0.217391,1,0,25
3,1,IBK기업은행,2017-10-14,0,17,김미연 (L),1,7,69,0.101449,1,0,25
4,1,IBK기업은행,2017-10-14,0,11,김수지 (C),3,6,69,0.086957,1,0,25
5,1,IBK기업은행,2017-10-14,0,6,이고은 (S),2,1,69,0.014493,1,0,25
6,1,IBK기업은행,2017-10-14,0,3,염혜선 (S),0,1,69,0.014493,1,0,25
7,1,IBK기업은행,2017-10-14,0,10,김혜선 (Li),0,0,69,0.000000,1,0,25
8,1,흥국생명,2017-10-14,1,9,심슨 (L),13,48,82,0.585366,1,0,27
9,1,흥국생명,2017-10-14,1,17,이재영 (L),3,13,82,0.158537,1,0,27

---

### 민정 + 한결 전체 Feature Engineering 합치기

### df1, df2 합치기

In [38]:
df1_temp.shape, df2.shape, vol.shape

((8116, 13), (8116, 96), (8116, 85))

In [39]:
df1 = df1_temp.loc[:, ["경기번호", "팀명", "경기날짜", "이름", "팀_득점", "MVP", "팀_범실"]]
df1.head(10)

   경기번호       팀명        경기날짜        이름  팀_득점  MVP  팀_범실
0     1  IBK기업은행  2017-10-14    메디 (L)    69    0    25
1     1  IBK기업은행  2017-10-14   고예림 (L)    69    0    25
2     1  IBK기업은행  2017-10-14   김희진 (R)    69    0    25
3     1  IBK기업은행  2017-10-14   김미연 (L)    69    0    25
4     1  IBK기업은행  2017-10-14   김수지 (C)    69    0    25
5     1  IBK기업은행  2017-10-14   이고은 (S)    69    0    25
6     1  IBK기업은행  2017-10-14   염혜선 (S)    69    0    25
7     1  IBK기업은행  2017-10-14  김혜선 (Li)    69    0    25
8     1     흥국생명  2017-10-14    심슨 (L)    82    0    27
9     1     흥국생명  2017-10-14   이재영 (L)    82    0    27

In [40]:
# 전처리 완료한 최종 df
# df = df2.merge(df1, on = ['팀명', '경기날짜'])
df = pd.merge(df1, df2, on = ['경기번호', '팀명', '경기날짜', '이름'])
df

,경기번호,팀명,경기날짜,이름,팀_득점,MVP,팀_범실,결과,No.,출전세트_1set,...,팀_오픈_성공률,후위_성공률_y,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,IBK기업은행,2017-10-14,메디 (L),69,0,25,0,19,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
1,1,IBK기업은행,2017-10-14,고예림 (L),69,0,25,0,7,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
2,1,IBK기업은행,2017-10-14,김희진 (R),69,0,25,0,4,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
3,1,IBK기업은행,2017-10-14,김미연 (L),69,0,25,0,17,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
4,1,IBK기업은행,2017-10-14,김수지 (C),69,0,25,0,11,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,한송이 (C),45,1,9,0,12,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8112,474,KGC인삼공사,2022-02-28,정호영 (C),45,0,9,0,17,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8113,474,KGC인삼공사,2022-02-28,고의정 (L),45,0,9,0,16,12,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8114,474,KGC인삼공사,2022-02-28,하효림 (S),45,0,9,0,2,14,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8115,474,KGC인삼공사,2022-02-28,채선아 (Li),45,0,9,0,10,LI,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750

In [41]:
df['결과'].value_counts()

1    4110
0    4006
Name: 결과, dtype: int64

In [42]:
df.shape

(8116, 99)

In [43]:
df.columns

Index(['경기번호', '팀명', '경기날짜', '이름', '팀_득점', 'MVP', '팀_범실', '결과', 'No.',
       '출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set',
       '득점_득점', '공격종합_시도', '공격종합_성공', '공격종합_공격차단', '공격종합_범실', '공격종합_성공률',
       '공격종합_점유율', '오픈_시도', '오픈_성공', '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율',
       '시간차_시도', '시간차_성공', '시간차_공격차단', '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도',
       '이동_성공', '이동_공격차단', '이동_범실', '이동_성공률', '이동_점유율', '후위_시도', '후위_성공',
       '후위_공격차단', '후위_범실', '후위_성공률_x', '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단',
       '속공_범실', '속공_성공률', '속공_점유율', '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실',
       '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도', '서브_성공', '서브_범실', '서브_성공률', '서브_점유율',
       '디그_시도', '디그_성공', '디그_실패', '디그_범실', '디그_세트당', '디그_점유율', '세트_시도',
       '세트_성공', '세트_범실', '세트_세트당', '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패',
       '리시브_세트당', '리시브_점유율', '블로킹_시도', '블로킹_성공', '블로킹_유효블락', '블로킹_실패',
       '블로킹_범실', '블로킹_세트당', '블로킹_점유율', '블로킹_어시스트', '벌칙_벌칙', '범실_범실',
       '팀_공격종합성공률', '팀_오픈_성공률', '후위_성공률_y', '팀_속공_성공률', '팀_퀵오픈_성공률',
       '팀_서브_성공률', '팀_블로킹_성공률', '팀_디그_성공률', '팀_디그_점유율', '팀_리시브_성공률',
       '팀_리시브_점유율'],
      dtype='object')

---

## 머신 넣기 전 최종 전처리

In [44]:
df_final = df.copy()
df_final  # 복사본 저장해두기

,경기번호,팀명,경기날짜,이름,팀_득점,MVP,팀_범실,결과,No.,출전세트_1set,...,팀_오픈_성공률,후위_성공률_y,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,IBK기업은행,2017-10-14,메디 (L),69,0,25,0,19,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
1,1,IBK기업은행,2017-10-14,고예림 (L),69,0,25,0,7,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
2,1,IBK기업은행,2017-10-14,김희진 (R),69,0,25,0,4,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
3,1,IBK기업은행,2017-10-14,김미연 (L),69,0,25,0,17,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
4,1,IBK기업은행,2017-10-14,김수지 (C),69,0,25,0,11,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,한송이 (C),45,1,9,0,12,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8112,474,KGC인삼공사,2022-02-28,정호영 (C),45,0,9,0,17,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8113,474,KGC인삼공사,2022-02-28,고의정 (L),45,0,9,0,16,12,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8114,474,KGC인삼공사,2022-02-28,하효림 (S),45,0,9,0,2,14,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8115,474,KGC인삼공사,2022-02-28,채선아 (Li),45,0,9,0,10,LI,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750

In [45]:
df_final.to_csv("vollyball_final.csv")

In [77]:
"메디 (L)"[:-4]

'메디'

In [79]:
# 이름에서 포지션 지우고 이름만 추출
df_final['이름'] = df_final['이름'].str[:-4]
df_final

,경기번호,팀명,경기날짜,이름,팀_득점,MVP,팀_범실,결과,No.,출전세트_1set,...,팀_오픈_성공률,후위_성공률_y,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,IBK기업은행,2017-10-14,메디,69,0,25,0,19,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
1,1,IBK기업은행,2017-10-14,고예림,69,0,25,0,7,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
2,1,IBK기업은행,2017-10-14,김희진,69,0,25,0,4,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
3,1,IBK기업은행,2017-10-14,김미연,69,0,25,0,17,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
4,1,IBK기업은행,2017-10-14,김수지,69,0,25,0,11,O,...,9.4375,1.04125,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,KGC인삼공사,2022-02-28,한송이,45,1,9,0,12,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8112,474,KGC인삼공사,2022-02-28,정호영,45,0,9,0,17,O,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8113,474,KGC인삼공사,2022-02-28,고의정,45,0,9,0,16,12,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8114,474,KGC인삼공사,2022-02-28,하효림,45,0,9,0,2,14,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8115,474,KGC인삼공사,2022-02-28,채선아,45,0,9,0,10,LI,...,15.8700,6.25000,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750

---

In [107]:
# 경기번호, 팀명으로 그룹바이 -> 총 경기 474개
df_final.groupby(["경기번호", "팀명"]).mean()

               팀_득점       MVP  팀_범실   결과        No.      득점_득점    공격종합_시도  \
경기번호 팀명
1    IBK기업은행   69.0  0.000000  25.0  0.0   9.625000   8.625000  22.375000
     흥국생명      82.0  0.090909  27.0  1.0  10.000000   7.454545  17.454545
2    KGC인삼공사   78.0  0.000000  13.0  0.0   9.333333   8.666667  22.555556
     현대건설     102.0  0.111111  29.0  1.0  11.333333  11.333333  22.000000
3    GS칼텍스     88.0  0.000000  25.0  1.0  11.000000   8.000000  15.818182
...             ...       ...   ...  ...        ...        ...        ...
472  흥국생명      37.0  0.142857  15.0  0.0  10.285714   5.285714  14.714286
473  페퍼저축은행    29.0  0.142857   8.0  0.0  10.285714   4.142857  13.142857
     한국도로공사    62.0  0.000000  10.0  1.0   8.285714   8.857143  15.142857
474  GS칼텍스     65.0  0.000000   7.0  1.0   9.875000   8.125000  11.125000
     KGC인삼공사   45.0  0.125000   9.0  0.0  10.250000   5.625000  12.125000

               공격종합_성공  공격종합_공격차단   공격종합_범실  ...   팀_오픈_성공률   후위_성공률_y  \
경기번호 팀명                                      ...
1    IBK기업은행  6.375000   1.875000  1.250000  ...   9.437500   1.041250
     흥국생명     5.727273   0.909091  1.363636  ...   6.898182   6.046364
2    KGC인삼공사  7.333333   2.222222  0.666667  ...  35.226667   4.444444
     현대건설     8.555556   0.777778  1.333333  ...  14.957778  11.111111
3    GS칼텍스    6.545455   0.818182  0.818182  ...  22.803636  12.500000
...                ...        ...       ...  ...        ...        ...
472  흥국생명     4.428571   1.142857  1.142857  ...  20.237143   4.761429
473  페퍼저축은행   3.428571   1.142857  0.714286  ...  29.907143   1.785714
     한국도로공사   6.857143   0.571429  0.428571  ...  33.334286  22.857143
474  GS칼텍스    6.250000   1.000000  0.000000  ...  31.101250   4.166250
     KGC인삼공사  4.375000   1.250000  0.500000  ...  15.870000   6.250000

               팀_속공_성공률  팀_퀵오픈_성공률  팀_서브_성공률  팀_블로킹_성공률   팀_디그_성공률   팀_디그_점유율  \
경기번호 팀명
1    IBK기업은행   2.083750  26.931250  0.175000  11.702128  85.714286  12.498750
     흥국생명      5.627273  15.150909  0.127273  20.000000  86.111111   9.029091
2    KGC인삼공사   2.222222  12.036667  0.122222   9.090909  81.250000  10.957778
     현대건설     13.226667  13.457778  0.111111  19.047619  88.636364  11.112222
3    GS칼텍스    15.426364  10.505455  0.163636   9.722222  83.928571   9.010000
...                 ...        ...       ...        ...        ...        ...
472  흥국생명     10.714286  20.271429  0.142857   6.382979  79.687500  12.698571
473  페퍼저축은행    0.000000   8.571429  0.047143   9.302326  81.159420  12.170000
     한국도로공사   20.000000  26.957143  0.188571  16.129032  91.803279  11.938571
474  GS칼텍스    16.250000  20.936250  0.208750  17.241379  81.538462  12.311250
     KGC인삼공사  14.583750  16.666250  0.082500  19.047619  74.509804  10.625000

              팀_리시브_성공률  팀_리시브_점유율
경기번호 팀명
1    IBK기업은행  40.404040  12.498750
     흥국생명     50.588235   9.090909
2    KGC인삼공사  47.572816  11.111111
     현대건설     45.192308  11.111111
3    GS칼텍스    44.329897   9.090000
...                 ...        ...
472  흥국생명     24.590164  13.407143
473  페퍼저축은행   39.215686  10.874286
     한국도로공사   64.444444  12.605714
474  GS칼텍스    47.916667  12.498750
     KGC인삼공사  37.288136  10.387500

[948 rows x 90 columns]

In [115]:
print(list(df_final.columns))

['경기번호', '팀명', '경기날짜', '이름', '팀_득점', 'MVP', '팀_범실', '결과', 'No.', '출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set', '득점_득점', '공격종합_시도', '공격종합_성공', '공격종합_공격차단', '공격종합_범실', '공격종합_성공률', '공격종합_점유율', '오픈_시도', '오픈_성공', '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율', '시간차_시도', '시간차_성공', '시간차_공격차단', '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도', '이동_성공', '이동_공격차단', '이동_범실', '이동_성공률', '이동_점유율', '후위_시도', '후위_성공', '후위_공격차단', '후위_범실', '후위_성공률_x', '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단', '속공_범실', '속공_성공률', '속공_점유율', '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실', '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도', '서브_성공', '서브_범실', '서브_성공률', '서브_점유율', '디그_시도', '디그_성공', '디그_실패', '디그_범실', '디그_세트당', '디그_점유율', '세트_시도', '세트_성공', '세트_범실', '세트_세트당', '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패', '리시브_세트당', '리시브_점유율', '블로킹_시도', '블로킹_성공', '블로킹_유효블락', '블로킹_실패', '블로킹_범실', '블로킹_세트당', '블로킹_점유율', '블로킹_어시스트', '벌칙_벌칙', '범실_범실', '팀_공격종합성공률', '팀_오픈_성공률', '후위_성공률_y', '팀_속공_성공률', '팀_퀵오픈_성공률', '팀_서브_성공률', '팀_블로킹_성공률', '팀_디그_성공률', '팀_디그_점유율', '팀_리시브_성공률', '팀_리시브_점유율']

In [117]:
# 필요한 컬럼만 저장
df_loc = df_final.loc[:, ['경기번호', '결과', '팀명', '경기날짜', '이름', '팀_득점', 'MVP', '팀_범실',
                    '팀_공격종합성공률', '팀_오픈_성공률', '팀_속공_성공률', '팀_퀵오픈_성공률',
                    '팀_서브_성공률', '팀_블로킹_성공률', '팀_디그_성공률', '팀_디그_점유율', '팀_리시브_성공률', '팀_리시브_점유율']]
df_loc

,경기번호,결과,팀명,경기날짜,이름,팀_득점,MVP,팀_범실,팀_공격종합성공률,팀_오픈_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,0,IBK기업은행,2017-10-14,메디,69,0,25,17.985,9.4375,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
1,1,0,IBK기업은행,2017-10-14,고예림,69,0,25,17.985,9.4375,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
2,1,0,IBK기업은행,2017-10-14,김희진,69,0,25,17.985,9.4375,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
3,1,0,IBK기업은행,2017-10-14,김미연,69,0,25,17.985,9.4375,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
4,1,0,IBK기업은행,2017-10-14,김수지,69,0,25,17.985,9.4375,2.08375,26.93125,0.1750,11.702128,85.714286,12.49875,40.404040,12.49875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,474,0,KGC인삼공사,2022-02-28,한송이,45,1,9,23.880,15.8700,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8112,474,0,KGC인삼공사,2022-02-28,정호영,45,0,9,23.880,15.8700,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8113,474,0,KGC인삼공사,2022-02-28,고의정,45,0,9,23.880,15.8700,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8114,474,0,KGC인삼공사,2022-02-28,하효림,45,0,9,23.880,15.8700,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750
8115,474,0,KGC인삼공사,2022-02-28,채선아,45,0,9,23.880,15.8700,14.58375,16.66625,0.0825,19.047619,74.509804,10.62500,37.288136,10.38750

In [125]:
# MVP 컬럼 추출
df_gb_MVP = df_loc.groupby(["경기번호", "팀명"], as_index = False)['MVP'].sum()
df_gb_MVP

     경기번호       팀명  MVP
0       1  IBK기업은행    0
1       1     흥국생명    1
2       2  KGC인삼공사    0
3       2     현대건설    1
4       3    GS칼텍스    0
..    ...      ...  ...
943   472     흥국생명    1
944   473   페퍼저축은행    1
945   473   한국도로공사    0
946   474    GS칼텍스    0
947   474  KGC인삼공사    1

[948 rows x 3 columns]

In [126]:
# 데이터 합치기
df_gb = df_loc.groupby(["경기번호", "팀명"], as_index = False).mean().drop('MVP', axis = 1)
df_gb

,경기번호,팀명,결과,팀_득점,팀_범실,팀_공격종합성공률,팀_오픈_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율
0,1,IBK기업은행,0.0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,40.404040,12.498750
1,1,흥국생명,1.0,82.0,27.0,12.320000,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909
2,2,KGC인삼공사,0.0,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,47.572816,11.111111
3,2,현대건설,1.0,102.0,29.0,20.770000,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111
4,3,GS칼텍스,1.0,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,44.329897,9.090000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,472,흥국생명,0.0,37.0,15.0,23.755714,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143
944,473,페퍼저축은행,0.0,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,39.215686,10.874286
945,473,한국도로공사,1.0,62.0,10.0,38.804286,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714
946,474,GS칼텍스,1.0,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,47.916667,12.498750
947,474,KGC인삼공사,0.0,45.0,9.0,23.880000,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500

In [128]:
df_gb_final = df_gb.merge(df_gb_MVP, on = ["경기번호", "팀명"])
df_gb_final

,경기번호,팀명,결과,팀_득점,팀_범실,팀_공격종합성공률,팀_오픈_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율,MVP
0,1,IBK기업은행,0.0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,40.404040,12.498750,0
1,1,흥국생명,1.0,82.0,27.0,12.320000,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
2,2,KGC인삼공사,0.0,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,47.572816,11.111111,0
3,2,현대건설,1.0,102.0,29.0,20.770000,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
4,3,GS칼텍스,1.0,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,44.329897,9.090000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,472,흥국생명,0.0,37.0,15.0,23.755714,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
944,473,페퍼저축은행,0.0,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,39.215686,10.874286,1
945,473,한국도로공사,1.0,62.0,10.0,38.804286,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
946,474,GS칼텍스,1.0,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,47.916667,12.498750,0
947,474,KGC인삼공사,0.0,45.0,9.0,23.880000,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [131]:
df_gb_final.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            938, 939, 940, 941, 942, 943, 944, 945, 946, 947],
           dtype='int64', length=948)

In [132]:
len(df_gb_final.index)

948

In [163]:
# A팀만 자르기
df_A = df_gb_final.loc[::2, :]
df_A = df_A.drop(["팀명"], axis = 1)
df_A

,경기번호,결과,팀_득점,팀_범실,팀_공격종합성공률,팀_오픈_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율,MVP
0,1,0.0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,40.404040,12.498750,0
2,2,0.0,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,47.572816,11.111111,0
4,3,1.0,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,44.329897,9.090000,0
6,4,0.0,80.0,19.0,32.482222,32.128889,22.222222,16.168889,0.155556,10.447761,84.126984,10.852222,54.255319,10.880000,0
8,5,0.0,68.0,21.0,23.441250,19.438750,12.500000,19.633750,0.075000,11.363636,88.118812,12.377500,40.860215,12.367500,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,470,1.0,46.0,10.0,34.716000,22.714000,5.000000,32.452000,0.000000,9.375000,87.500000,17.500000,50.943396,19.274000,0
940,471,1.0,71.0,24.0,22.245000,20.486250,6.945000,13.091250,0.150000,19.178082,82.075472,12.045000,32.051282,12.341250,1
942,472,1.0,58.0,15.0,23.447500,12.531250,6.250000,20.441250,0.165000,13.333333,87.500000,11.688750,27.450980,12.028750,1
944,473,0.0,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,39.215686,10.874286,1
946,474,1.0,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,47.916667,12.498750,0

In [164]:
# 컬럼명 변경
df_A.columns = ['경기번호', 'A팀_결과', 'A팀_득점', 'A팀_범실', 'A팀_공격종합성공률', 'A팀_오픈_성공률', 'A팀_속공_성공률', 'A팀_퀵오픈_성공률',
        'A팀_서브_성공률', 'A팀_블로킹_성공률', 'A팀_디그_성공률', 'A팀_디그_점유율', 'A팀_리시브_성공률',
        'A팀_리시브_점유율', 'A팀MVP']

# check
df_A

,경기번호,A팀_결과,A팀_득점,A팀_범실,A팀_공격종합성공률,A팀_오픈_성공률,A팀_속공_성공률,A팀_퀵오픈_성공률,A팀_서브_성공률,A팀_블로킹_성공률,A팀_디그_성공률,A팀_디그_점유율,A팀_리시브_성공률,A팀_리시브_점유율,A팀MVP
0,1,0.0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,40.404040,12.498750,0
2,2,0.0,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,47.572816,11.111111,0
4,3,1.0,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,44.329897,9.090000,0
6,4,0.0,80.0,19.0,32.482222,32.128889,22.222222,16.168889,0.155556,10.447761,84.126984,10.852222,54.255319,10.880000,0
8,5,0.0,68.0,21.0,23.441250,19.438750,12.500000,19.633750,0.075000,11.363636,88.118812,12.377500,40.860215,12.367500,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,470,1.0,46.0,10.0,34.716000,22.714000,5.000000,32.452000,0.000000,9.375000,87.500000,17.500000,50.943396,19.274000,0
940,471,1.0,71.0,24.0,22.245000,20.486250,6.945000,13.091250,0.150000,19.178082,82.075472,12.045000,32.051282,12.341250,1
942,472,1.0,58.0,15.0,23.447500,12.531250,6.250000,20.441250,0.165000,13.333333,87.500000,11.688750,27.450980,12.028750,1
944,473,0.0,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,39.215686,10.874286,1
946,474,1.0,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,47.916667,12.498750,0

In [165]:
# B팀만 자르기
df_B = df_gb_final.loc[1::2, :]
df_B = df_B.drop(["팀명"], axis = 1)
df_B

,경기번호,결과,팀_득점,팀_범실,팀_공격종합성공률,팀_오픈_성공률,팀_속공_성공률,팀_퀵오픈_성공률,팀_서브_성공률,팀_블로킹_성공률,팀_디그_성공률,팀_디그_점유율,팀_리시브_성공률,팀_리시브_점유율,MVP
1,1,1.0,82.0,27.0,12.320000,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
3,2,1.0,102.0,29.0,20.770000,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
5,3,0.0,82.0,22.0,25.871000,22.885000,14.047000,9.684000,0.140000,11.842105,80.357143,10.001000,38.775510,9.998000,0
7,4,1.0,86.0,21.0,29.013333,18.535556,16.032222,11.111111,0.066667,14.141414,87.272727,11.111111,43.010753,11.112222,1
9,5,1.0,86.0,25.0,22.623000,14.401000,5.000000,8.718000,0.173000,17.741935,88.073394,9.643000,40.000000,9.238000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,470,0.0,44.0,17.0,33.135000,31.937500,20.833750,30.833750,0.082500,7.692308,68.965517,12.286250,31.250000,12.500000,1
941,471,0.0,70.0,31.0,30.936364,30.034545,9.090909,11.620000,0.036364,16.216216,81.052632,8.811818,34.065934,8.708182,1
943,472,0.0,37.0,15.0,23.755714,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
945,473,1.0,62.0,10.0,38.804286,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
947,474,0.0,45.0,9.0,23.880000,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [166]:
# 컬럼명 변경
df_B.columns = ['경기번호', 'B팀_결과', 'B팀_득점', 'B팀_범실', 'B팀_공격종합성공률', 'B팀_오픈_성공률', 'B팀_속공_성공률', 'B팀_퀵오픈_성공률',
        'B팀_서브_성공률', 'B팀_블로킹_성공률', 'B팀_디그_성공률', 'B팀_디그_점유율', 'B팀_리시브_성공률',
        'B팀_리시브_점유율', 'B팀MVP']

# check
df_B

,경기번호,B팀_결과,B팀_득점,B팀_범실,B팀_공격종합성공률,B팀_오픈_성공률,B팀_속공_성공률,B팀_퀵오픈_성공률,B팀_서브_성공률,B팀_블로킹_성공률,B팀_디그_성공률,B팀_디그_점유율,B팀_리시브_성공률,B팀_리시브_점유율,B팀MVP
1,1,1.0,82.0,27.0,12.320000,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
3,2,1.0,102.0,29.0,20.770000,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
5,3,0.0,82.0,22.0,25.871000,22.885000,14.047000,9.684000,0.140000,11.842105,80.357143,10.001000,38.775510,9.998000,0
7,4,1.0,86.0,21.0,29.013333,18.535556,16.032222,11.111111,0.066667,14.141414,87.272727,11.111111,43.010753,11.112222,1
9,5,1.0,86.0,25.0,22.623000,14.401000,5.000000,8.718000,0.173000,17.741935,88.073394,9.643000,40.000000,9.238000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,470,0.0,44.0,17.0,33.135000,31.937500,20.833750,30.833750,0.082500,7.692308,68.965517,12.286250,31.250000,12.500000,1
941,471,0.0,70.0,31.0,30.936364,30.034545,9.090909,11.620000,0.036364,16.216216,81.052632,8.811818,34.065934,8.708182,1
943,472,0.0,37.0,15.0,23.755714,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
945,473,1.0,62.0,10.0,38.804286,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
947,474,0.0,45.0,9.0,23.880000,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [168]:
# 경기번호를 기준으로 final of final dataframe 정의
df_fof = pd.merge(df_A, df_B, on = "경기번호")
df_fof

,경기번호,A팀_결과,A팀_득점,A팀_범실,A팀_공격종합성공률,A팀_오픈_성공률,A팀_속공_성공률,A팀_퀵오픈_성공률,A팀_서브_성공률,A팀_블로킹_성공률,...,B팀_오픈_성공률,B팀_속공_성공률,B팀_퀵오픈_성공률,B팀_서브_성공률,B팀_블로킹_성공률,B팀_디그_성공률,B팀_디그_점유율,B팀_리시브_성공률,B팀_리시브_점유율,B팀MVP
0,1,0.0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,...,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
1,2,0.0,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,...,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
2,3,1.0,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,...,22.885000,14.047000,9.684000,0.140000,11.842105,80.357143,10.001000,38.775510,9.998000,0
3,4,0.0,80.0,19.0,32.482222,32.128889,22.222222,16.168889,0.155556,10.447761,...,18.535556,16.032222,11.111111,0.066667,14.141414,87.272727,11.111111,43.010753,11.112222,1
4,5,0.0,68.0,21.0,23.441250,19.438750,12.500000,19.633750,0.075000,11.363636,...,14.401000,5.000000,8.718000,0.173000,17.741935,88.073394,9.643000,40.000000,9.238000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,470,1.0,46.0,10.0,34.716000,22.714000,5.000000,32.452000,0.000000,9.375000,...,31.937500,20.833750,30.833750,0.082500,7.692308,68.965517,12.286250,31.250000,12.500000,1
470,471,1.0,71.0,24.0,22.245000,20.486250,6.945000,13.091250,0.150000,19.178082,...,30.034545,9.090909,11.620000,0.036364,16.216216,81.052632,8.811818,34.065934,8.708182,1
471,472,1.0,58.0,15.0,23.447500,12.531250,6.250000,20.441250,0.165000,13.333333,...,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
472,473,0.0,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,...,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
473,474,1.0,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,...,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [170]:
df_fof.columns

Index(['경기번호', 'A팀_결과', 'A팀_득점', 'A팀_범실', 'A팀_공격종합성공률', 'A팀_오픈_성공률',
       'A팀_속공_성공률', 'A팀_퀵오픈_성공률', 'A팀_서브_성공률', 'A팀_블로킹_성공률', 'A팀_디그_성공률',
       'A팀_디그_점유율', 'A팀_리시브_성공률', 'A팀_리시브_점유율', 'A팀MVP', 'B팀_결과', 'B팀_득점',
       'B팀_범실', 'B팀_공격종합성공률', 'B팀_오픈_성공률', 'B팀_속공_성공률', 'B팀_퀵오픈_성공률',
       'B팀_서브_성공률', 'B팀_블로킹_성공률', 'B팀_디그_성공률', 'B팀_디그_점유율', 'B팀_리시브_성공률',
       'B팀_리시브_점유율', 'B팀MVP'],
      dtype='object')

In [171]:
df_foff = df_fof.drop(["경기번호", "A팀_결과"], axis = 1)
df_foff

,A팀_득점,A팀_범실,A팀_공격종합성공률,A팀_오픈_성공률,A팀_속공_성공률,A팀_퀵오픈_성공률,A팀_서브_성공률,A팀_블로킹_성공률,A팀_디그_성공률,A팀_디그_점유율,...,B팀_오픈_성공률,B팀_속공_성공률,B팀_퀵오픈_성공률,B팀_서브_성공률,B팀_블로킹_성공률,B팀_디그_성공률,B팀_디그_점유율,B팀_리시브_성공률,B팀_리시브_점유율,B팀MVP
0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,...,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
1,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,...,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
2,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,...,22.885000,14.047000,9.684000,0.140000,11.842105,80.357143,10.001000,38.775510,9.998000,0
3,80.0,19.0,32.482222,32.128889,22.222222,16.168889,0.155556,10.447761,84.126984,10.852222,...,18.535556,16.032222,11.111111,0.066667,14.141414,87.272727,11.111111,43.010753,11.112222,1
4,68.0,21.0,23.441250,19.438750,12.500000,19.633750,0.075000,11.363636,88.118812,12.377500,...,14.401000,5.000000,8.718000,0.173000,17.741935,88.073394,9.643000,40.000000,9.238000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,46.0,10.0,34.716000,22.714000,5.000000,32.452000,0.000000,9.375000,87.500000,17.500000,...,31.937500,20.833750,30.833750,0.082500,7.692308,68.965517,12.286250,31.250000,12.500000,1
470,71.0,24.0,22.245000,20.486250,6.945000,13.091250,0.150000,19.178082,82.075472,12.045000,...,30.034545,9.090909,11.620000,0.036364,16.216216,81.052632,8.811818,34.065934,8.708182,1
471,58.0,15.0,23.447500,12.531250,6.250000,20.441250,0.165000,13.333333,87.500000,11.688750,...,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
472,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,...,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
473,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,...,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [186]:
# B팀 결과를 기준으로 target 정의(A팀결과는 drop)
df_foff = df_foff.rename(columns={'B팀_결과':'target'})
df_foff

,A팀_득점,A팀_범실,A팀_공격종합성공률,A팀_오픈_성공률,A팀_속공_성공률,A팀_퀵오픈_성공률,A팀_서브_성공률,A팀_블로킹_성공률,A팀_디그_성공률,A팀_디그_점유율,...,B팀_오픈_성공률,B팀_속공_성공률,B팀_퀵오픈_성공률,B팀_서브_성공률,B팀_블로킹_성공률,B팀_디그_성공률,B팀_디그_점유율,B팀_리시브_성공률,B팀_리시브_점유율,B팀MVP
0,69.0,25.0,17.985000,9.437500,2.083750,26.931250,0.175000,11.702128,85.714286,12.498750,...,6.898182,5.627273,15.150909,0.127273,20.000000,86.111111,9.029091,50.588235,9.090909,1
1,78.0,13.0,32.868889,35.226667,2.222222,12.036667,0.122222,9.090909,81.250000,10.957778,...,14.957778,13.226667,13.457778,0.111111,19.047619,88.636364,11.112222,45.192308,11.111111,1
2,88.0,25.0,27.587273,22.803636,15.426364,10.505455,0.163636,9.722222,83.928571,9.010000,...,22.885000,14.047000,9.684000,0.140000,11.842105,80.357143,10.001000,38.775510,9.998000,0
3,80.0,19.0,32.482222,32.128889,22.222222,16.168889,0.155556,10.447761,84.126984,10.852222,...,18.535556,16.032222,11.111111,0.066667,14.141414,87.272727,11.111111,43.010753,11.112222,1
4,68.0,21.0,23.441250,19.438750,12.500000,19.633750,0.075000,11.363636,88.118812,12.377500,...,14.401000,5.000000,8.718000,0.173000,17.741935,88.073394,9.643000,40.000000,9.238000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,46.0,10.0,34.716000,22.714000,5.000000,32.452000,0.000000,9.375000,87.500000,17.500000,...,31.937500,20.833750,30.833750,0.082500,7.692308,68.965517,12.286250,31.250000,12.500000,1
470,71.0,24.0,22.245000,20.486250,6.945000,13.091250,0.150000,19.178082,82.075472,12.045000,...,30.034545,9.090909,11.620000,0.036364,16.216216,81.052632,8.811818,34.065934,8.708182,1
471,58.0,15.0,23.447500,12.531250,6.250000,20.441250,0.165000,13.333333,87.500000,11.688750,...,20.237143,10.714286,20.271429,0.142857,6.382979,79.687500,12.698571,24.590164,13.407143,1
472,29.0,8.0,21.275714,29.907143,0.000000,8.571429,0.047143,9.302326,81.159420,12.170000,...,33.334286,20.000000,26.957143,0.188571,16.129032,91.803279,11.938571,64.444444,12.605714,0
473,65.0,7.0,45.481250,31.101250,16.250000,20.936250,0.208750,17.241379,81.538462,12.311250,...,15.870000,14.583750,16.666250,0.082500,19.047619,74.509804,10.625000,37.288136,10.387500,1

In [188]:
df_foff.columns

Index(['A팀_득점', 'A팀_범실', 'A팀_공격종합성공률', 'A팀_오픈_성공률', 'A팀_속공_성공률', 'A팀_퀵오픈_성공률',
       'A팀_서브_성공률', 'A팀_블로킹_성공률', 'A팀_디그_성공률', 'A팀_디그_점유율', 'A팀_리시브_성공률',
       'A팀_리시브_점유율', 'A팀MVP', 'target', 'B팀_득점', 'B팀_범실', 'B팀_공격종합성공률',
       'B팀_오픈_성공률', 'B팀_속공_성공률', 'B팀_퀵오픈_성공률', 'B팀_서브_성공률', 'B팀_블로킹_성공률',
       'B팀_디그_성공률', 'B팀_디그_점유율', 'B팀_리시브_성공률', 'B팀_리시브_점유율', 'B팀MVP'],
      dtype='object')

In [187]:
df_foff.to_csv("volleyball_fof.csv")

In [173]:
# 모델링 테스트
X = df_foff.drop('B팀_결과', axis = 1)
y = df_foff['B팀_결과']

In [175]:
from sklearn.model_selection import train_test_split

In [176]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle = False, random_state=0)

In [178]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [183]:
pipeline = make_pipeline(LogisticRegression())

In [184]:
pipeline.fit(X_train,y_train)
pipeline.score(X_test,y_test)

/opt/anaconda3/envs/DL/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9915966386554622